<div class="contact-form">
	<%= flash[:notice] %>

	<%= form_tag("/static_pages/thank_you") do %>
	<div class="row">
		<header>
			<h1>Contact Us</h1>
		</header>
		<div class="form_group">
			<%= label_tag :name, "Name:" %>
			<%= text_field_tag :name, nil, class: "form_control", placeholder: "Enter Name." %>
		</div>
		<div class="form_group">
			<%= label_tag :email, "Email:" %>
			<%= text_field_tag :email, nil, class: "form_control", placeholder: "Enter Email." %>
		</div>
		<div>
			<%= label_tag :message, "Message:" %>
			<%= text_area_tag :message, nil, class: "form_control", placeholder: "Leave a Message." %>
		</div>
		<%= submit_tag "Send" %>
		<% end %>
	</div>
</div>