.container
	.col-xs-12.col-sm-6.col-sm-offset-3.devise-form.contact-form
		= flash[:notice]

		= form_tag 'thank_you' do
			.row
				%header
					%h1 Contact Us
				.form_group
					= label_tag :name, "Name:"
					= text_field_tag :name, nil, class: "form_control", placeholder: "Enter Name..."
				.form_group
					= label_tag :email, "Email:"
					= text_field_tag :email, nil, class: "form_control", placeholder: "Enter Email..."
				.form_group
					= label_tag :message, "Message..."
					= text_area_tag :message, nil, class: "form_control", placeholder: "Leave a Message"
				= submit_tag "Send"
		  