- provide(:title, "Show Product")
%p#notice= notice

.container.col-xs-12.col-md-8
	= image_tag "#{@product.image_url}", class: "img-responsive", alt: "#{@product.description}"

.container.new-container.col-xs-6.col-md-4
	%h3= @product.name
	%p= @product.description
	%p= @product.cost
	%p
		Average Rating:
		.rated{data: {score: "#{@product.average_rating}"}}
	- if signed_in? && current_user.admin?
		= link_to 'Edit', edit_product_path(@product)
		|
	= link_to '- Back -', products_path

	%p= link_to "Add to Order", product_orders_path(@product), :method => :post, class: "add-to-order"



.container.new-container.col-xs-6.col-md-4
	=render "new_comment"

.col-xs-12.container
	=render "show_comments"
	%p= will_paginate @comments

