%nav.navbar.navbar-default
  .navbar-header
    %a.navbar-brand{:href => "/products/"}
      = image_tag("/images/Logo_transparent.png", :alt => "Brand")
    %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#navbar"}, :aria => {:expanded => "false"}}
      %span.sr-only Toggle Navigation
      - 3.times do
        %span.icon-bar
  .collapse.navbar-collapse#navbar
    %ul.nav.navbar-nav.navbar-left
      %li= link_to "Home", static_pages_index_path
      %li= link_to "Store", products_path
      %li= link_to "Contact", static_pages_contact_path
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}, :aria => {:haspopup => "true", :expanded => "false"}, :role => "button"}
          Search
          %span.caret
        %ul.dropdown-menu
          %li
            = form_tag('/products', method: "get", class: "navbar-form navbar-left", role: "search", type: "search") do
              = text_field_tag(:q, nil, placeholder: "&#xF002;".html_safe, class: "form-control text-box")
    %ul.nav.navbar-nav.navbar-right
      %li
        %p.hidden-xs.notice.navbar-text #{notice}
        - if user_signed_in?
          %li.login.dropdown
            %a.dropdown-toggle{:href => '#', :data => {:toggle => "dropdown"}, role: "button", :aria => {:haspopup => "true", :expanded => "false"}}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li= link_to('My Orders', user_orders_path(current_user))
              %li= link_to('My Account', edit_user_registration_path)
              %li.divider{role: "seperator"}
              %li= link_to('Logout', destroy_user_session_path, method: :delete, class: 'log-btn')
        - else
          %li.login
            = link_to('Log In', new_user_session_path, class: 'log-btn')     
